.organizations {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 16px;
    margin: 12px 0px;
    
}
.organizations-main {
    margin-bottom: 8px;
    background-color: aquamarine;
}
.organizations-footer {
   margin-right: 8px;
}